<html>
<head>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<!-- 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
-->

<script>

$(document).ready( function() {
  alert('we excel on ice');
});

</script>

<title>Time Machinery</title>
</head>
<body>

<form action="create" method="get">
  <input type="text" name="activity_name"/>
</form>

</body>
</html>

